<div>
	<div class="row"
		style="position: relative; padding-top: 20px; padding-bottom: 20px; background-color: #3FA9F5">
		<div class="col-sm-1" style="position: relative; margin-left: 40px;">
			<img src="{{ url_for('static', filename='images/scm_icon.png') }}" />
		</div>
		<div class="col-lg-8" style="position: relative; margin-left: 40px;">
			<div class="row">
				<h3>
					<span style="color: #FBB03B"> Social Media Credibility </span> is a
					framework for computation credibility of Social media.
				</h3>
			</div>
			<div class="row"
				style="position: relative; background-color: #7AC943; padding-top: 10px; padding-bottom: 10px;">
				<div class="pull-left">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/harvest/keyword">Harvest Keywords</a></li>
						<li><a href="/harvest/trends">Harvest Trends</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="color_box"></div>
	</div>
</div>