<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FB filter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/cred.css') }}"
          rel="stylesheet" type="text/css"/>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <style>
#chartdiv {
	width	: 100%;
	height	: 500px;
}
    </style>

    <script type="text/javascript">
        var chartData = {{str_result|safe}}

        AmCharts.makeChart( "chartdiv", {
          "type": "serial",
          "dataProvider": chartData,
          "categoryField": "date",
          "legend": {
            "position": "right"
          },
          "graphs": [ {
            "title":"iran",
            "valueField": "iran",
            "type": "line"
           }, {
             "title":"mako",
			 "valueField": "mako",
			 "type": "line"
			  }]
        } );
    </script>
</head>
<body>
{% include "header.html" %}
<div id="chartdiv"></div>
{% include "footer.html" %}
</body>
</html>